@import 'reset.scss';
a {
   display: block;
}
body {
   font-family: 'Inter', sans-serif;
}
.top-slider {
   &__wrapper {
      background: #7F56D9;
      border-radius: 4px;
      padding: .5em 5em;
      color: #fff;
      text-align: center;
   }
}
.top-menu {
   border-bottom: 2px solid #EAECF0;
   &__wrapper {
      display: flex;
      padding: 1% 0;
      align-items: center;
   }
}
.header {
   &__icon-link {
      padding: 0.5em;
   }
   &__logo {
      display: flex;
      justify-content: center;
   }
   &__map-link {
      display: flex;
      gap: .5em;
   }
   &__icons {
      display: flex;
      justify-content: flex-end;
      gap: 2em;
   }
}

.service-menu {
   display: flex;
   justify-content: space-between;
   padding: 20px;
   &__item {
      color: #101828;
      font-weight: 500;
   }
}

.main-body {
   background: #F9FAFB;
}
.main-title {
   font-weight: 600;
   font-size: 52px;
   line-height: 56px;
   padding: .5em 0;
}
.banner {
   border-radius: 16px;
   overflow: hidden;
   padding: 72px;
   background: url(../image/main-bg.jpg) 0 0/ contain no-repeat;
   &__title {
      font-weight: 600;
      font-size: 40px;
      line-height: 110%;
      color: #fff;
      margin-bottom: .5em;
   }
   &__paragraph {
      font-weight: 400;
      font-size: 16px;
      line-height: 150%;
      color: #fff;
      margin-bottom: 2em;
   }
   &__btn {
      background: #FFFFFF;
      border: 1px solid #D0D5DD;
      border-radius: 8px;
      padding: 10px 18px;
   }
}