@import 'reset.scss';
a {
   display: block;
}
body {
   font-family: 'Inter', sans-serif;
}
.top-slider {
   &__wrapper {
      background: #7F56D9;
      border-radius: 4px;
      padding: .5em 5em;
      color: #fff;
      text-align: center;
   }
}
.top-menu {
   border-bottom: 2px solid #EAECF0;
   &__wrapper {
      display: flex;
      padding: 1% 0;
      align-items: center;
   }
}
.header {
   &__icon-link {
      padding: 0.5em;
   }
   &__logo {
      display: flex;
      justify-content: center;
   }
   &__map-link {
      display: flex;
      gap: .5em;
   }
   &__icons {
      display: flex;
      justify-content: flex-end;
      gap: 2em;
   }
}

.service-menu {
   display: flex;
   justify-content: space-between;
   padding: 20px;
   &__item {
      color: #101828;
      font-weight: 500;
   }
}

.main-body {
   background: #F9FAFB;
}
.main-title {
   font-weight: 600;
   font-size: 52px;
   line-height: 56px;
   padding: .5em 0;
}
.banner {
   position: relative;
   border-radius: 16px;
   overflow: hidden;
   &__title {
      font-weight: 600;
      font-size: 40px;
      line-height: 110%;
      color: #fff;
      margin-bottom: .5em;
   }
   &__paragraph {
      font-weight: 400;
      font-size: 16px;
      line-height: 150%;
      color: #fff;
      margin-bottom: 2em;
   }
   &__btn {
      background: #FFFFFF;
      border: 1px solid #D0D5DD;
      border-radius: 8px;
      padding: 10px 18px;
   }
   &__text {
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
      padding: 72px;
   }
}
.products {
   display: flex;
   align-items: stretch;
}
.product-item {
   padding: 1rem;
   &__wrapper {
      padding: .8em;
      background: #FFFFFF;
      border-radius: 12px;
      height: 100%;
      display: flex;
   flex-direction: column;
   justify-content: space-between;
   }
   &__main-body {
      border-bottom: 2px solid #EAECF0;
      flex-grow: 1;
   }
   &__img-container {
      margin-bottom: 1em;
   }
   &__img {
      width: 100%;
   }
   &__genre {
      display: inline-flex;
      align-items: center;
      background: #F0F9FF;
      padding: 2px 8px;
      gap: 4px;
      border-radius: 4px;
      margin-bottom: 1em;
   }
   &__genre-name {
      font-weight: 400;
      font-size: 12px;
      line-height: 150%;
      color: #0086C9;
   }
   &__dot {
      font-size: 2em;
      color: #0086C9;
      width: 10px;
      height: 10px;
      position: relative;
      &::before {
      position: absolute;
      width: 100%;
      height: 100%;
      display: inline-flex;
      align-items: center;
      justify-content: center;
      }
   }
   &__game-name {
      font-weight: 600;
      font-size: 18px;
      line-height: 133%;
      color: #101828;
      padding-bottom: 1em;
   }
   &__description {
      font-weight: 400;
      font-size: 14px;
      line-height: 143%;
      color: #98A2B3;
      padding-bottom: 10%;
   }
   &__price {
      padding: 17px 0 21px 0;
      display: flex;
      justify-content: space-between;
      align-items: center;
   }
   &__old-price-num {
      font-weight: 500;
      font-size: 16px;
      line-height: 150%;
      color: #D0D5DD;
      text-decoration: line-through;
   }
   &__price-num {
      font-weight: 600;
      font-size: 16px;
      line-height: 150%;
      color: #101828;
   }
   &__discount {
      padding: 4px 6px;
      background: #669F2A;
      border-radius: 4px;
      color: #fff;
      font-weight: 600;
      font-size: 12px;
      line-height: 150%;
      text-align: center;
   }
}

.footer {
   &__top {
      border-bottom: 1px solid #344054;
      padding: 3em 0;
      display: flex;
      align-items: center;
   }
   background: #1D2939;
   &__email-text-title {
      color: #fff;
      font-weight: 600;
      font-size: 18px;
      line-height: 133%;
   }
   &__email-text-subtitle {
      color: #98A2B3;
      font-weight: 400;
      font-size: 16px;
      line-height: 150%;
   }
   &__column-title {
      color: #98A2B3;
      font-weight: 500;
      font-size: 14px;
      line-height: 143%;
      margin-bottom: 20px;
   } 
   &__column-list {
      color: #F2F4F7;
      font-weight: 500;
      font-size: 16px;
      line-height: 2em;
   }
   &__column-list-link {
      transition: all .2s linear;
      &:hover {
         color: #7f56d9;
      }
   }
   &__copyright {
      color: #667085;
      font-weight: 400;
      font-size: 16px;
      line-height: 150%;
      padding: 3em 0;
   }
   &__bottom {
      padding: 3em 0;
   }
}

.email-form {
   display: flex;
   align-items: stretch;
   justify-content: center;
   gap: 0.5em;
   &__email-field {
      font-weight: 500;
      padding: 10px 18px;
      flex-grow: 1;
      border-radius: 8px;
      background: #fff;
      border: none;
      &__::placeholder{
      color: #98A2B3;
      font-weight: 500;
      }
   }
   &__email-btn {
      color: #fff;
      font-weight: 500;
      font-size: 16px;
      padding: 10px 18px;
      border-radius: 8px;
      background: #7f56d9;
      border: none;
   }
}
.pagination {
   background: #fff;
   border-radius: 12px;
   padding: .5em 1em;
   display: flex;
   justify-content: center;
   align-items: center;
   gap: 1em;
   &__list {
      display: flex;
      gap: 0.2em;
   }
   &__prev {
      width: 16px;
      height: 32px;
      padding: 0.5em;
      border: none;
      position: relative;
      background: none;
      &.disabled .pagination__prev-wrapper {
         background: url(../image/content/arrow_left_disabled.svg) center/ 30% no-repeat;
         transform: rotate(0);
      }
   }
   &__prev-wrapper {
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
      background: url(../image/content/arrow_right.svg) center/ 30% no-repeat;
      transform: rotate(180deg);
   }
   &__next {
      width: 16px;
      height: 32px;
      padding: 0.5em;
      border: none;
      position: relative;
      background: none;
      &.disabled .pagination__next-wrapper {
         background: url(../image/content/arrow_left_disabled.svg) center/ 30% no-repeat;
         transform: rotate(180deg);
      }
   }
   &__next-wrapper {
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
      background: url(../image/content/arrow_right.svg) center/ 30% no-repeat;
   }
   &__item {
      width: 36px;
      height: 36px;
   }
   &__link {
      width: 100%;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      font-weight: 500;
      font-size: 14px;
      line-height: 143%;
      text-align: center;
      color: #101828;
      border-radius: 8px;
      transition: all .2s linear;
      &:hover {
         background: #7F56D9;
         color:#fff;
      }
      &:hover.pagination__dots {
         background: none;
         color: inherit;
         cursor: auto;
      }
      &.active {
         background: #F9F5FF;
      }
   }
}


.faq {
   
   &__page-title {
      font-weight: 600;
      font-size: 32px;
      line-height: 119%;
      text-align: center;
      color: #101828;
      padding: 1em 0;
   }
   &__page-subtitle {
      font-weight: 400;
      font-size: 16px;
      line-height: 150%;
      text-align: center;
      color: #667085;
      text-align: center;
      margin-bottom: 2em;
   }
   &__accordion {
      padding-bottom: 8%;
   }
}
.accordion {
   &__list-item {
      display: flex;
      align-items: center;
   }
   &__bi-dot {
      font-size: 2em;
      color: #7F56D9;
   }
   &__subtitle {
      font-weight: 500;
      font-size: 16px;
      line-height: 150%;
      color: #101828;
      padding: 1.5em 0;
   }
   &__description {
      margin-bottom: 1em;
   }
}
.accordion-item {
   border: none;
   background: transparent;
   border-bottom: 1px solid #EAECF0;
   &:last-child {
      border: none;
   }
}

.accordion-button {
   background: transparent;
   font-weight: 600;
   font-size: 18px;
   line-height: 133%;
   color: #101828;
   padding: 1.2em 0;
}
.accordion-button {
   &::after {
      background: url(../image/content/plus.svg) 0 0/ cover no-repeat;
   }
   &:focus {
      border-color: none;
      box-shadow: none;
   }
}
.accordion-button:not(.collapsed) {
   color: inherit;
   background-color: inherit;
   box-shadow: none;
   &::after {
      background: url(../image/content/minus.svg) 0 0/ cover no-repeat;
   }
}

.accordion-body {
   padding: 1.2em 0;
   font-weight: 400;
   font-size: 16px;
   line-height: 150%;
   color: #667085;
}
